@import 'baseCss';
.projectList {
    padding: 10px;
    overflow: hidden;
    h1 {
        line-height: 35px;
    }
    .item {
        float: left;
        width: 200px;
        height: 200px;
        line-height: 30px;
        position: relative;
        margin: 0 10px 10px 0;
        h2 {
            border-bottom: 1px solid $borderColor;
            @extend .textPadding;
            background-color: $bgColor;
            i {
                float: right;
            }
        }
        border:1px solid $borderColor;
        .desc {
            @extend .textPadding;
        }
        &.projectAdd {
            i {
                @extend .vertialMiddle;
            }
        }
    }
}
 .form {
    padding: 20px;
    .form-row {
        overflow: auto;
        line-height: 30px;
        .from-title {
            display: inline-block;
            width: 120px;
            text-align: right;
            padding-right: 12px;
            vertical-align: top;
        }
    }
}
#mock-projectAdd {
   .form{
        width: 500px;
   }
}

.mock-list {
    .search_input {
        width: 50%;
        margin: 20px auto;
        text-align: center;
        display: inherit;
        font-size: 14px;
    }
    .list {
        line-height: 30px;
        border: 1px solid $borderColor;
        border-bottom: none;
        overflow: auto;
        margin: 20px;
    }
    .row {
        display: flex;
        height: 30px;
        overflow: hidden;
        border-bottom: 1px solid $borderColor;
        &.active {
            background-color: rgba(69, 69, 69, .8);
        }
        &:hover {
            background-color: rgba(69, 69, 69, .5);
        }
        &>div {
            padding: 0 12px;
            box-sizing: border-box;
        }
        .index {
            width: 70px;
            text-align: center;
        }
        .title {
            flex: 1;
        }
        .url {
            flex: 1;
        }
        .action {
            width:160px;
        }
    }
}

.mockAdd {
    display: flex;
    flex-direction: row;
    height: 100%;
    .codeView{
        flex: 1;
        height: 100%;
        overflow: auto;
    }
    .vue-codemirror,
    .CodeMirror {
        height: 100%;
    }
    .mockFrom{
        width: 300px;
        @extend .form;
        padding:0;
        display:flex;
        flex-direction:column-reverse;
        .from-title {
            width:60px!important;
        }
    }
    .form-action{
        padding-top:20px;
        margin-top:20px;
        text-align:center;
        .bigBtn{
            width:40%;
            margin:0;
        }
    }
}
.mockConfig{
    .bigBtn{
        margin:20px 0 0 132px;
    }
    .wsResult{
        position: absolute;
        bottom: 0;
        top: 380px;
        overflow: auto;
        right: 0;
        left: 0;
    }
}
.wsTest{
    .wsResult{
        position: absolute;
        bottom: 0;
        top: 60px;
        padding:10px;
        overflow: auto;
        right: 0;
        left: 0;
        user-select:initial;
        .btnCancel{
            position: absolute;
            right:10px;
            top:10px;
        }
    }
    .ws-Test{
        display: flex;
        .url_input{
            flex:1;
        }
    }
}