
$borderColor:rgba(128, 128, 128, 0.35);
$bgColor:#2d2d2d;
$color:#d4d4d4;
$colorHover:#C1C1C1;
$focusBgColor:#1E1E1E;
$titleBgColor:#2d2d30;
.textPadding{
    padding:0 10px;
}
.vertialMiddle{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.btnOk,.btnCancel,.btnSmall{
    background-color:#1E1E1E;
    height:24px;
    line-height: 24px;
    padding:0 6px;
    border:1px solid $borderColor;
    cursor: pointer;
    color:$color;
    margin:0 3px;
    &:hover{
        background-color:#2E2E2E;
        color:#fff;
    }
}
.btnCancel{
    background-color:#2D2D2D;
}
$placeholderColor:#717171;
input::-webkit-input-placeholder{
    color:$placeholderColor;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:$placeholderColor;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:$placeholderColor;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:$placeholderColor;
}
input[type="checkbox"]{
    vertical-align: -3px;
}
.formBox{
    padding:15px;
    p{
        padding:5px 0;
        span{
            display:inline-block;
        }
    }
}
.hover{
    background-color: rgba(69, 69, 69, .5);
}
.active{
    background-color: rgba(69, 69, 69, .8);
}
.centermiddle{
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
}