@import 'baseCss';
@import './iconfont.css';
html,
body {
    font-size: 12px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ccc;
    user-select: none;
}
*{
    margin:0;
    padding:0;
    outline: none;
}
a {
    color: #cccccc;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #ffffff;
    }
}
ul,li{
    list-style: none;
}
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h1,h2,h3,h4{
    padding:0;
    margin:0;
    font-size: 14px;
}
.body {
    display: flex;
    flex: 1;
    background-color: rgb(30, 30, 30);
    color: #d4d4d4;
}

footer {
    background-color: rgb(0, 122, 204);
    color: rgb(255, 255, 255);
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
}


.content {
    flex: 1;
    position: relative;
}

.btn{
    border:1px solid $borderColor;
    background-color:$bgColor;
    color:#cccccc;
    height:35px;
    line-height: 35px;
    cursor: pointer;
    outline: none;
    &:hover{
        color:#fff;
    }
}
input[type="text"],textarea{
    background-color: transparent;
    border:none;
    border-bottom:1px solid $borderColor;
    height:30px;
    line-height: 30px;
    color:$color;
    padding-left:10px;
    resize: none;
    &:focus,&:hover{
        background-color: $focusBgColor;
    }
}
textarea{
    height: 100px;
}