@import './iconfont.css';
html,
body {
    font-size: 12px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ccc;
}

a {
    color: #cccccc;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #ffffff;
    }
}
ul,li{
    list-style: none;
}
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body {
    display: flex;
    flex: 1;
    background-color: rgb(30, 30, 30);
    color: #d4d4d4;
}

footer {
    background-color: rgb(0, 122, 204);
    color: rgb(255, 255, 255);
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
}


.content {
    flex: 1;
}