@import 'baseCss';
.alert {
    background-color: $titleBgColor;
    position: fixed;
    right: 5px;
    bottom: 5px;
    max-height: 128px;
    max-width: 300px;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 5px;
    box-shadow: 0 2px 8px #000000;
    color:$color;
    .alert-close {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
}