.post{
    select{
        height: 30px;
    }
    .form-row{
        display: flex;
        .url{
            flex:1;
            input{
                width: 100%;
            }
        }
        .codeView{
            flex:1;
            margin: 5px 0;
            font-size:12px;
            line-height: 20px;
            overflow: auto;
        }
        .headerEdit,.paramsEdit{
            height:100px;
        }
    }
}