header {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    .title{
        // float: left;
        position: absolute;
        .logo{
            width:14px;
            height:14px;
            background: url("../../assets/logo.png") no-repeat;
            background-size: 100% 100%;
            float: left;
            opacity: .6;
            margin:6px 6px 0 15px;
        }
    }
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative;
    background-color: #333333;
    color: rgb(204, 204, 204);
    .win-act {
        -webkit-app-region: no-drag;
        float: right;
        padding: 0 10px;
        i {
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            line-height: 24px;
            margin: 0 5px;
            cursor: pointer;
            font-size: 12px;
            &:hover {
                background-color: #aaa;
            }
        }
        position: absolute;
        right:0;
        top:0;
    }
    a.item {
        -webkit-app-region: no-drag;
        padding: 5px;
        display: inline-block;
        width: 30px;
        text-align: center;
        line-height: 1;
        i {
            display: block;
            height: 18px;
            font-size: 16px;
            font-weight: bold;
            &:hover {
                color: #fff;
            }
        }
        &:hover {
            color: #666;
        }
        span {
            font-size: 12px;
            display: block;
        }
    }
    .help {
        position: relative;
        .help-sub {
            position: absolute;
            z-index: 11;
            top: 40px;
            left: 0;
            white-space: nowrap;
            overflow: hidden;
            background-color: #fff;
            margin:0;
            padding:0;
            li {
                display: block;
                text-align: left;
                padding:10px 15px;
                &:hover{
                    background-color: #ccc;
                }
            }
            a,a:hover{
                color:#666;
            }
        }
    }
}
.alipay{
    background: url("../../assets/alipay.png") no-repeat;
}
.wxpay{
    background: url("../../assets/wxpay.png") no-repeat;
}
.alipay,.wxpay{
    display: inline-block;
    width: 120px;
    height: 150px;
    margin: 10px;
    background-size: 120px 130px;
    vertical-align: top;
    background-position: 0 20px;
}